{% extends "blog_register/base.html" %}

{% block content %}

<form method="GET">
    <input type="text" name="q" placeholder="Search for your blog ..">
    <button type="submit">Search</button>
</form>

{% if query %}
    <h2>Search results for "{{ query }}"</h2>
{% endif %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Blog Title</td>
            <td>Author</td>
            <td>Blog Text</td>
            <td>Blog Status</td>
            <td>
                <a href="{% url 'blog_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>

    <tbody>
        {% for blog in blog_list %}
            <tr>
                <td>{{blog.blog_title}}</td>
                <td>{{blog.author_name}}</td>
                <td>{{blog.blog_text}}</td>
                <td>{{blog.blog_status}}</td>
                <td>
                    <a href="{% url 'blog_update' blog.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'blog_delete' blog.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}